@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    height: fit-content;
    width: fit-content;
    position: relative;
    overflow: auto;
}

.padding {
    margin: 6.5rem 1rem 0rem 0rem;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.content-box {
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
    width: 31vw;
}

.searchbar input[type=text]{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 2rem;
    padding: 1rem;
    width: 80%;
    font-size: 16px;
}

#map {
    position: fixed;
    height: 80vh;
    width: 60vw;
}
